@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
  --font-color: #ffffff;
  --para-color: rgb(172, 167, 167);
}

.nav-item a:hover {
  background-color: rgb(188, 149, 106);
  padding: 5px;
}

/* hero-section */

#home {
  margin-top: 66px;
  background-image: url(./images/me.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  min-height: 40vh;
}

#home h1 {
  padding-top: 7%;
  padding-left: 5%;
  color: var(--font-color);
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-size: 5rem;
}

#home p {
  color: var(--font-color);
  font-size: 2rem;
  padding-left: 5%;
  font-weight: bold;
}

#home p:nth-child(2) {
  font-size: 3rem;
}

#about {
  background-color: #292929;
  overflow: hidden;
}

.line {
  color: rgb(188, 149, 106);
  padding: 0 100px;
  padding-top: 12%;
  padding-bottom: 3%;
  text-transform: uppercase;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 75%;
  left: 5%;
  width: 50px;
  height: 2px;
  background-color: rgb(188, 149, 106);
  transform: translateY(-50%);
}

.sub-heading {
  color: var(--font-color);
  font-size: 2.6rem;
  padding: 0 50px;
  font-weight: 700;
}

#about p {
  color: var(--para-color);
  font-size: 2rem;
  padding: 0 5rem;
  line-height: 3rem;
  font-weight: 500;
}

#about a {
  width: 80%;
  font-size: 10px;
  margin-left: 10%;
}

.button {
  position: relative;
  display: inline-block;
  border-radius: 100px;
  padding: 20px 60px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #363535;
  outline: none;
  border: none;
  text-decoration: none;
  border: 1px solid #242424;
  margin-top: 3%;
  width: 50%;
}

.button:hover {
  background-color: rgb(188, 149, 106);
}

#skills {
  padding: 0 5rem;
  margin-top: 2rem;
}

#skills h3 {
  color: var(--font-color);
  margin-bottom: 4%;
  font-size: 3.5rem;
}

#skills li {
  color: var(--para-color);
  font-size: 2.5rem;
  list-style: none;
  line-height: 3.5rem;
}

#portfolio {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#projects {
  background-color: #292929;
  padding-bottom: 100px;
}

.project img {
  max-width: 100%;
  box-shadow: rgba(223, 165, 29, 0.25) 0px 54px 55px, rgba(223, 165, 29, 0.25) 0px -12px 30px, rgba(223, 165, 29, 0.25) 0px 4px 6px, rgba(223, 165, 29, 0.25) 0px 12px 13px, rgba(223, 165, 29, 0.25) 0px -3px 5px;
  border: 3px solid rgb(188, 149, 106);
}

.project a img:hover{
  opacity: 0.4;
}
#projects .sub-heading {
  margin-bottom: 4rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.project p {
  font-size: 2.5rem;
  color: var(--font-color);
}

#contact {
  background-color: #292929;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  margin-bottom: 0;
  padding-bottom: 5%;
}

label {
  color: var(--font-color);
  font-size: 2.5rem;
  padding: 5px;
}

input {
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

input:focus{
  border: 1px solid rgb(188, 149, 106);
  outline: none;
}

textarea {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

textarea:focus{
  border: 1px solid rgb(188, 149, 106);
  outline: none;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #212529;
  padding: 10px;
  font-size: 20px;
}

footer i {
  padding-left: 10px;
}

footer p {
  padding: 5px;
  font-size: 12px;
  color: var(--font-color);
}
footer img {
  color: red;
}

@media screen and (min-width: 768px) and (max-width: 998px) {
  #portfolio {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 998px) {
  #home {
    min-height: 60vh;
  }
  .line {
    color: rgb(188, 149, 106);
    padding-top: 12%;
    padding-bottom: 3%;
    text-transform: uppercase;
    position: relative;
    text-align: center;
  }

  .line::before {
    top: 77%;
    left: 35%;
    width: 50px;
  }

  .line::after {
    content: "";
    position: absolute;
    top: 77%;
    left: 60%;
    width: 50px;
    height: 2px;
    background-color: rgb(188, 149, 106);
    transform: translateY(-50%);
  }

  #about {
    display: flex;
  }

  #skills {
    margin-top: 9%;
    margin-left: 10%;
  }

  .intro {
    width: 50%;
  }

  #portfolio {
    flex-direction: row;
    flex-wrap: wrap;
  }

 
}
