* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --font-color: #ffffff;
  --para-color: grey;
}

.nav-item a:hover{
  background-color: rgb(188, 149, 106);
  padding: 5px;
}

/* hero-section */

 #home {
  background-color: #292929;
}

.intro {
  color: var(--font-color);
  font-size: 20px;
}

.hero-img img {
  width: 224px;
  height: 200px;
}

#about{
  height: 80vh;
  background-color: #292929;
  overflow: hidden;
}

 .line {
  color: rgb(188, 149, 106);
  padding: 0 100px;
  padding-top: 12%;
  padding-bottom: 3%;
  text-transform: uppercase;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 75%;
  left: 5%;
  width: 50px;
  height: 2px; 
  background-color: rgb(188, 149, 106); 
  transform: translateY(-50%);
} 

.sub-heading {
  color: var(--font-color);
  font-size: 26px;
  padding: 0 20px;
  font-weight: 700;
}

#about p {
  color: var(--para-color);
  font-size: 20px;
  padding: 0 20px;
  line-height: 30px;
  font-weight: 500;
}

#about a {
  width: 80%;
  font-size: 10px;
  margin-left: 10%;
}

.button {
  position: relative;
  display: inline-block;
  border-radius: 100px;
  padding: 20px 60px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #363535;
  outline: none;
  border: none;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #242424;
  margin-top: 3%;
  
}

.button:hover {
  background-color: rgb(188, 149, 106);
}

#portfolio {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#projects {
    background-color: #292929;
    padding-bottom: 100px;
  }

.project img {
  max-width: 100%;
  height: 300px;
  margin-left: 5%;
}

#projects .sub-heading{
    margin-bottom: 40px;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.project p{
    font-size: 20px;
    color: var(--font-color);
}

#contact{
  height: 100vh;
  background-color: #292929;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  
} 

label{
  color: var(--font-color);
  font-size: 16px;
  padding: 5px;
}

input{
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px; 
}

textarea{
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1); 
}

#skills h3{
  color: var(--font-color);
  margin: 10% 2%;
  border-bottom: 1px solid var(--para-color);
}

#skills li{
color: var(--para-color);
font-size: 16px;
list-style: none;
}

 footer{
  display: flex;
  justify-content: space-between;
  background-color: #212529;
  padding: 10px;
  font-size: 20px;
 }

 footer i{
  padding-left: 10px;
 }

 footer p{
  padding: 5px;
  font-size: 12px;
  color: var(--font-color);
 }
